{% extends "semantic-ui/base.html" %}
{% block content_header %}
    <section id="page-title">
        <div class="container clearfix">
            <h1>Admin panel</h1>
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Admin</li>
            </ol>
        </div>
    </section>
{% endblock %}
{% block content %}
<p>
    <a href="{% url 'pages' %}" class="btn btn-primary"><em class="fa fa-file-text"></em> &nbsp;Pages</a>
    <a href="{% url 'forms' %}" class="btn btn-primary"><em class="fa fa-dot-circle-o"></em> &nbsp;Forms</a>
    <a href="{% url 'photos' %}" class="btn btn-primary"><em class="fa fa-picture-o"></em> &nbsp;Photo's</a>
    <a href="{% url 'files' %}" class="btn btn-primary"><em class="fa fa-file"></em> &nbsp;Files</a>
</p>
{% endblock %}