{% extends "semantic-ui/base.html" %}
{% block content_header %}
    <section id="page-title">
        <div class="container clearfix">
            <h1>Files</h1>
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'cms' %}">Admin</a></li>
                <li class="active">Pages</li>
            </ol>
        </div>
    </section>
{% endblock %}
{% block content %}
<div class="table-responsive">
    <table class="table" id="table">
        <thead>
            <tr>
                <th>File name</th>
                <th>File size</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for file in files %}
            <tr>
                <td class="col-md-4">{{ file.name }}</td>
                <td class="col-md-4">{{ file.file.size|filesizeformat }}</td>
                <td class="col-md-4">
                    <a href="{{ file.file.url }}" class="btn btn-info btn-sm"><em class="fa fa-external-link"></em> Download</a>
                    <a href="#" class="btn btn-info btn-sm"><em class="fa fa-pencil-square-o"></em> Edit</a>
                    <a href="#" class="btn btn-danger btn-sm" data-confirm="Are you sure you want to delete?"><em class="fa fa-times"></em> Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<p>
    <a href="{% url 'file-add' %}" class="btn btn-primary btn-sm"><em class="fa fa-plus"></em> Add</a>
</p>
{% endblock %}