{% extends "semantic-ui/base.html" %}
{% block content_header %}
    <section id="page-title">
        <div class="container clearfix">
            <h1>Photo add</h1>
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'cms' %}">Admin</a></li>
                <li class="active">Photo add</li>
            </ol>
        </div>
    </section>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <br/>
        <input type="submit" value="Post" class="btn btn-primary btn-sm">
        </form>
    </div>
</div>
{% endblock %}